<!DOCTYPE html>
<html>
<head>
  <title>BaseWebRailsApp</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="app">
<nav>
  <ul>
	<% if user_signed_in? %>
		<li><%= current_user.email %></li>
		<li><%= link_to(I18n.t("session._sign_out"), destroy_user_session_path, :method => :delete) %></li>
	<% else %>
		<li><%= link_to(I18n.t("session._sign_up"), new_user_registration_path) %></li>
    	<li><%= link_to(I18n.t("session._sign_in"), new_user_session_path) %></li>
	<% end %>
  </ul>
</nav>
<% flash.each do |key, value| %>
	<div class='flash' id='<%= key %>'>
		<%= value %>
	</div>
<% end %>

<%= yield %>

</body>
</html>
